<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body>
        <div class="flashes">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="block">
            <form action="/login" method="post">
                <div class="em"><input type = "email" name = "email" placeholder="Enter Your Email" /></div>
                <div class="pass"><input type = "password" name = "password" placeholder="Enter Your Password" /></div>
                <div class="sub"><input type = "submit" value = "Submit" /></div>
                <br>
                <div class="slink"><a href="/sign_up">Dont Have an account? Sign up</a></div>
            </form>
        </div>
    </body>
</html>